# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ '*' ]
    paths-ignore:
      '*.md'
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:
    inputs:
      testNetwork:
        description: 'Run tests that require network connectivity'
        required: false
        default: '0'

jobs:
  test_distros_shared:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        linux-version:
          - centos:stream10

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 20.x
      uses: actions/setup-node@v6
      with:
        node-version: 20.x
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        max-size: 1000M
        key: distros-shared-${{ matrix.linux-version }}
    - run: npm run container dev ${{ matrix.linux-version }} 20 shared
      env:
        MOCHA_TEST_NETWORK: ${{ github.event.inputs.testNetwork }}
