name: Test release

on:
  release:
    types: [published]

  workflow_dispatch:


jobs:
  test_linux:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        linux-version:
        - ubuntu:22.04
        - ubuntu:24.04
        - debian:bullseye
        # CentOS is disabled because of
        # https://bugzilla.redhat.com/show_bug.cgi?id=2376350
        # - centos:stream10
        node-version: [ 20, 22, 24 ]
        include:
          - linux-version: ubuntu:24.04
            node-version: 25
          - linux-version: fedora:42
            node-version: 24
          - linux-version: debian:bookworm
            node-version: 24
          - linux-version: amazonlinux:2023
            node-version: 22

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 20.x
      uses: actions/setup-node@v6
      with:
        node-version: 20.x
    - run: npm run container release ${{ matrix.linux-version }} ${{ matrix.node-version }}
      env:
        MOCHA_TEST_NETWORK: 1


  test_winmac:

    runs-on: ${{ matrix.platforms }}

    strategy:
      matrix:
        platforms: [ windows-2022, macos-14, macos-15-intel, macos-15 ]
        node-version: [ 20, 22, 24, 25 ]

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - run: npm install --ignore-scripts
    - run: npm install node-gyp
    - run: npx @mapbox/node-pre-gyp install
    - run: npx yatag
    - run: npm test
      env:
        MOCHA_TEST_NETWORK: 1
